# 1주차 학습 노트

In [4]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/isdiscodead/Library/Python/3.9/lib/python/site-packages (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/isdiscodead/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /Users/isdiscodead/Library/Python/3.9/lib/python/site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in /Users/isdiscodead/Library/Python/3.9/lib/python/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.22.4 in /Users/isdiscodead/Library/Python/3.9/lib/python/site-packages (from pandas) (1.26.0)
Requirement already satisfied: six>=1.5 in /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
WARNING: You are using pip version 21.2.4; however, version 23.2.1 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

## I. 데이터 분석 환경 구성
### 1.1 무엇을 분석할 것인가? 데이터 분석을 위한 환경 만들기
목적 -> 효과적 학습 가능, 이유 -> 데이터를 통한 insight 

### 1.2 아나콘다 소개 및 주피터 노트북 사용법
`... 생략`


## II. 데이터 분석 준비하기

### 2.1 데이터 분석을 위한 파이썬 속성 코스
`... 생략`
### 2.2 판다스 치트 시트를 활용한 기초 익히기
panel data system의 약자 -> 대용량의 행과 열로 된 데이터를 위함 

- data frame : 2차원 행렬
- series : 1차원 데이터

In [20]:

import pandas as pd

# data frame 표 형태 ( 2차원 )
# pd.DataFrame?

df = pd.DataFrame(
    {"a" : [4, 5, 6],
     "b" : [7, 8, 9],
     "c" : [10, 11, 12]},
    index = [1,2,3]
)

df


# series 1차원 
df["a"]
df[["a"]] # data frame
df[["a", "b"]] # data frame


# subset
df[df["a"] > 4] # 2, 3번째 값만 가져옴


# summarize data
df["a"].value_counts() # 빈도
len(df) # 길이


# reshaping
df.sort_values("a", ascending=False)
df = df.drop(["c"], axis=1) # 컬럼(열) 드랍 ... 다시 담아줘야 함


# group data
df.groupby(["a"])["b"].mean().agg(["mean", "sum", "count"])
df.groupby(["a"])["b"].describe()
pd.pivot_table(df, index="a", values="b", aggfunc="sum") # 기본적으로 평균 값 계산


# plotting
# df.plot.area()
# df.plot.bar()

   b
a
4  7
5  8
6  9

### 2.3 파일 경로 설정 방법

# 1주차 미션

 데이터 사이언스를 위한 파이썬과 판다스 동기부여

Q1. 여러분은 파이썬을 통해 설문조사 문항의 응답내역을 분석하게 되었습니다. 문항별 응답내용에는 하나의 응답만 할 수 있는 single choice 문제와 여러 응답을 선택할 수 있는 multiple choice 문제가 있습니다. 2개를 구분하기 위해 single choice 문항 번호에 "_"를 표기하지 않기로 했습니다.

문항별 응답내역이 'question'에 담겨 있을 때, 조건문과 반복문을 사용하여 아래와 같은 결과가 출력되도록 코드를 작성해보세요.

In [ ]:
# 응답 설문 문항
question = ['Q2', 'Q3', 'Q4', 'Q5', 'Q6_1', 'Q6_2', 'Q6_3', 'Q6_4', 'Q6_5', 'Q6_6',
       'Q6_7', 'Q6_8', 'Q6_9', 'Q6_10', 'Q6_11', 'Q6_12', 'Q7_1', 'Q7_2',
       'Q7_3', 'Q7_4', 'Q7_5', 'Q7_6', 'Q7_7', 'Q8', 'Q9', 'Q10_1', 'Q10_2',
       'Q10_3']

answer = []

for e in question :
    if ( not '_' in e ) :
        answer.append(e)

print(answer)

📌Q2. 한스 로슬링(Hans Rosling, 1948년 7월 27일 ~ 2017년 2월 7일)은 스웨덴의 의사이자 통계학자로 비영리 벤처 갭마인더 재단의 공동설립자이기도 합니다. 빅데이터를 가장 잘 활용하는 보건 통계학자로 알려져 있습니다. 베스트셀러 책인 "팩트풀니스" 저자이기도 합니다. 갭마인더 사이트에서는 연도별, 국가별 GDP와 기대수명 데이터를 제공하고 있는데, 대표적으로 파이썬 라이브러리 중 'seaborn'에서 제공되는 예제 데이터가 있습니다. 오늘은 이 데이터를 활용해 문제를 풀어보겠습니다.
다음의 데이터는 연도, 국가별 기대수명을 나타내고 있는 데이터 입니다. 2011년 부터의 연도별, 국가별 평균 기대수명을 구해주세요. (2011년도 포함되게 구합니다.)

[필수 조건] groupby 나 pivot_table을 활용합니다. groupby 로 구할 때 unstack()이라는 기능을 사용하여 아래와 같이 컬럼에 인덱스 값을 올려서 표기할 수 있습니다.
만약 행에는 '연도'가, 열에 '국가'가 들어있고 수치 데이터의 결과값이 아래와 같다면, 출력형태는 조금 달라도 괜찮습니다.

In [27]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/healthexp.csv")
df = df.dropna(axis=0)
df = df[df["Year"] >= 2011]
df.pivot_table(index="Year", values="Life_Expectancy", columns="Country")

Country  Canada  France  Germany  Great Britain  Japan   USA
Year
2011       81.4    82.3     80.5           81.0   82.7  78.7
2012       81.6    82.1     80.6           81.0   83.2  78.8
2013       81.7    82.3     80.6           81.1   83.4  78.8
2014       81.8    82.8     81.2           81.4   83.7  78.9
2015       81.9    82.4     80.7           81.0   83.9  78.7
2016       82.0    82.7     81.0           81.2   84.1  78.7
2017       81.9    82.7     81.1           81.3   84.2  78.6
2018       82.0    82.8     81.0           81.3   84.3  78.7
2019       82.2    82.9     81.3           81.4   84.4  78.8
2020       81.7    82.3     81.1           80.4   84.7  77.0

📌Q4. 앞으로 우리는 공공데이터포털에서 데이터를 다운로드 받아 과정을 진행할 예정입니다. 본격적인 학습 이전에! 데이터를 다루는 방법이 익숙해지도록 한번 더 연습해보고, 어떤 문제를 풀 수 있을지도 함께 고민해보아요!

In [29]:
df = pd.read_csv("data/서울특별시 강남구_생활폐기물배출량_20221019.csv", encoding="cp949")
df

    강남구  2019년(생활폐기물)-톤  2020년(생활폐기물)-톤
0   01월            7550            7350
1   02월            6387            6688
2   03월            7198            6973
3   04월            6820            6448
4   05월            7767            6470
5   06월            7275            7923
6   07월            8164            8015
7   08월            7807            7859
8   09월            6811            7452
9   10월            7222            6875
10  11월            7592            7337
11  12월            7298            6911